AI Support Bot — WhatsApp + RAG.json
{
  "name": "AI Support Bot — WhatsApp + RAG",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-support",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "21e19dba-cec9-4810-9205-8bfb03e36e67",
      "name": "Webhook",
      "webhookId": "7cc4db88-4c87-4dcf-b07c-6a1b3b2573a1"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        192,
        0
      ],
      "id": "82c41ede-ee10-4c3e-a76e-22242f4d1ac3",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "89d9f487-f05b-483c-bae1-fd0c0d66b896",
              "name": "user_message",
              "value": "={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].text.body }}",
              "type": "string"
            },
            {
              "id": "27a2ab91-61fb-4ef3-a239-436282383d84",
              "name": "user_phone",
              "value": "={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].from }}",
              "type": "string"
            },
            {
              "id": "4ea15f8c-b78e-46b1-bbcd-34ee77235836",
              "name": "user_name",
              "value": "={{ $('Webhook').item.json.body.entry[0].changes[0].value.contacts[0].profile.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        0
      ],
      "id": "09dabd71-270f-439b-a680-904664c72e7e",
      "name": "Extract Message"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=You are a helpful SaaS customer support assistant.\nAnswer the user's question based ONLY on the following context from our knowledge base:\n\n{{ $json.items.map(i => i.context).join('\\n\\n') }}\n\nRules:\n- Answer ONLY based on the context above\n- If the context doesn't contain the answer, say \"I'll connect you with a human agent\"\n- Keep answers short and friendly\n- Always respond in the same language the user wrote in"
            },
            {
              "content": "={{ $('Extract Message').first().json.user_message }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1632,
        -48
      ],
      "id": "acb57b2d-5f52-41d1-98f3-1ea0a529f834",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "YtlwhuleXCmGyGtC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e0d9812f-228f-40af-9fce-6e817034a1bc",
              "leftValue": "={{ $json.user_message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        592,
        0
      ],
      "id": "eaddc73f-69d6-43a1-9871-a07db5f11a76",
      "name": "If"
    },
    {
      "parameters": {
        "errorMessage": "No message content"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        624,
        368
      ],
      "id": "02286576-0109-4302-bef5-ad37d67375be",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "mode": "load",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "prompt": "={{ $json.user_message }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        800,
        -96
      ],
      "id": "56e82b32-82cf-49f1-8973-e8ffb200c0f8",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "aaMHnvQIyxd5vovW",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-ada-002",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        800,
        160
      ],
      "id": "f86cdcfd-497a-415b-972d-a08dfcbddd66",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "YtlwhuleXCmGyGtC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8e8ec1d9-fd5c-4023-85c6-6b96ee2a83ae",
              "name": "context",
              "value": "={{ $json.document.pageContent }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        -64
      ],
      "id": "32a71e32-1784-4e8f-a3bf-3145f61a3a08",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3bf9f17c-6479-4296-8e5f-baf54b879787",
              "name": "to",
              "value": "={{ $('Extract Message').first().json.user_phone }}",
              "type": "string"
            },
            {
              "id": "fc037894-6626-4959-92f0-ac271d5170a0",
              "name": "ai_response",
              "value": "={{ $('Message a model').first().json.output[0].content[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1952,
        -32
      ],
      "id": "8a94704a-5f76-4ad8-858f-c3d8012f270a",
      "name": "Prepare WhatsApp Message"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1328,
        -64
      ],
      "id": "7180f3c7-5756-4a54-9ba3-65c6d02bde48",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst cleanText = item.ai_response\n  .replace(/\"/g, \"'\")\n  .replace(/\\\\/g, \"\")\n  .replace(/\\n/g, \" \")\n  .replace(/\\r/g, \"\")\n  .substring(0, 500);\n\nconst body = JSON.stringify({\n  messaging_product: \"whatsapp\",\n  to: item.to,\n  type: \"text\",\n  text: {\n    body: cleanText\n  }\n});\n\nreturn [{\n  json: {\n    to: item.to,\n    ai_response: cleanText,\n    whatsapp_body: body\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        -32
      ],
      "id": "5f60c94f-f37a-4cfb-bff6-ef6b9615d39b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1157528227438454",
        "recipientPhoneNumber": "={{ $json.to }}",
        "textBody": "={{ $json.ai_response }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        2368,
        -32
      ],
      "id": "5e808291-5278-446d-aab1-28548b65c4a7",
      "name": "Send message",
      "webhookId": "2d807ce0-f3cd-47dd-a273-f20f5d806e4f",
      "credentials": {
        "whatsAppApi": {
          "id": "iYu0bdx62Gi8uc96",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Prepare WhatsApp Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare WhatsApp Message": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e0554ba7-648b-455c-aaa7-518541948abf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8fc414538f9a9e75b062104da82c5a546db6fada19d9632bdcff585131446182"
  },
  "id": "sPNka9zEUk7oIzxS",
  "tags": []
}